// Nosso helper
.border-box {
    @include box-sizing(border-box);
}

.clear-both{
    clear: both;
    float: none;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.relative {
    position: relative;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.txt-verde {
    color: $verde;
}

.txt-amarelo {
    color: $amarelo;
}

.seta-link {
    padding-right: 15px;
    color: $verde;
    @include inline-block;
    @include geral-sprite(seta-links, false, 100%, 1px);
}

$pie-base-class: pie-element;
$pie-behavior: url("css/PIE.htc");

.pie-element {
    @include pie-element(relative);
}