// Size
@mixin attr-size($attr, $size, $base:16, $unit:rem) {
    #{$attr}: #{strip-units($size)}px;
    #{$attr}: relative-size($size, $base, $unit);
}

// Clearfix
@mixin cf() {
    &:before,
    &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }

    & {
        zoom: 1;
    }
}

// IE7 inline-block
@mixin inline-block() {
    display:inline-block;
    *display:inline;
    *zoom:1;
}

// IE7 inline-block Important
@mixin inline-block-important() {
    display:inline-block !important;
    *display:inline !important;
    *zoom:1 !important;
}

// Font family Default
@mixin sans-serif($prepend:false) {
    $list: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: join($prepend,$list,comma);
}

// Placeholder text
@mixin placeholder($color: $placeholderText) {
    &:-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
}

@mixin ie7-restore-left-whitespace() {
    *margin-left: .3em;

    &:first-child {
        *margin-left: 0;
    }
}

@mixin ie7-restore-right-whitespace() {
    *margin-right: .3em;
}

// Reset filters for IE
@mixin reset-filter() {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

// Media Querie
$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;
@mixin respond-to($media) {
    @if $media == 'handhelds' {
        @media only screen and (max-width: $break-medium) { @content; }
    }
    @else if $media == 'tablet' {
        @media screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == 'desktop' {
        @media screen and (min-width: $break-large) { @content; }
    }
}