// This file must be imported before loading html5-boilerplate

// base - H5BP base vars
$selected-font-color      : #fff !default;
$selected-background-color: #ff5e99 !default;
$invalid-background-color : #f0dddd !default;

// Project particular vars
// Cores
$preto  : #000000;
$branco : #FFFFFF;
$verde  : #80be00;
$amarelo: #ffe507;

// Font
$line-height: 1.4 !default;
$fontBase   : 12;
$fontSize   : 100%;
$font-color : $branco;

// WebFont
$webfont: 'Droid Sans', Arial, Helvetica, sans-serif;

// Links
$link-color        : $font-color;
$link-visited-color: $font-color;
$link-hover-color  : lighten($font-color, 10%);

// Extras
$content-heights: 865px;
$content-width: 1000px;
$footer-height: 90px;