#gallery {
        position  : absolute;
        left      : 0;
        top       : 0;
        width     : 100%;
        height    : 100%;
        z-index   : 99 !important;
        overflow  : visible;
        // background: rgba(0,0,0,0.7) image-url("galeria/galeria-bg-externo.png") no-repeat center center;
        background: rgba(0,0,0,0.7);

        .main {
            position     : absolute;
            width        : 100%;
            height       : 520px;
            top          : 50%;
            left         : 0;
            margin       : 0;
            margin-top   : -260px;
            overflow     : hidden;

            $item-largura: 300px;
            $item-altura : 180px;

            .tabs {
                text-align: center;
                font-size : 0;

                .tabs-title {
                    font      : bold 15px "Droid Sans";
                    color     : #393939;
                    background: #0c0c0c;
                    padding   : 8px 30px;
                    text-align: center;
                    position  : relative;
                    overflow  : hidden;
                    cursor    : pointer;
                    width     : 140px;

                    @include transition(all 0.4s linear);
                    @include inline-block;

                    &.active {
                        background: #80BE01;
                        color     : #fff;
                        cursor    : default;
                    }
                }
            }

            a.geral-fechar {
                text-indent:-9999px;
                margin     :0;
                position   :absolute;
                right      : 0;
                top        :-70px;
            }

            .conteudo-tabs {
                background: image-url("galeria/galeria-bg-interno.jpg") repeat-x center top;
                border       : {
                    width    : 1px 0;
                    style    : solid;
                    color    : #7fbe00;
                };
            }

            ul {
                float  : left;
                margin : 10px 0 10px -11px;
                padding: 0;

                li {
                    width     : $item-largura;
                    float     : left;
                    margin    : 18px 0 0 11px;
                    padding   : 0;
                    list-style: none;

                    a {
                        width  : $item-largura;
                        height : $item-altura;
                        display: block;
                        border : 1px solid #192402;
                        position: relative;

                        img {
                            position   : absolute;
                            top        : 50%;
                            left       : 50%;
                            margin-top : -90px;
                            margin-left: -150px;
                            z-index    : 100;
                        }

                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-left: -25px;
                            margin-top: -25px;
                            z-index: 101;
                            @include opacity(0);
                        }

                        &:hover { border-color: #334A06; }
                    }

                    h1 {
                        // padding-left  : 30px;
                        width         : 100%;
                        font          : normal 12px "Droid Sans";
                        color         : #fff;
                        text-transform: uppercase;
                        text-align    : center;

                        span {color:#7fbe00;}
                    }
                }
            }

            .lista-curiosidades img {
                width: auto;
            }

            .lista-curiosidades li,
            .lista-curiosidades li a {
                // width: 141px;
                border: none;
            }

            .lista-curiosidades li {
                // margin: 18px 0 0 144px;
                // height: 218px;
            }

            .lista-curiosidades .fix-margin {
                margin: 18px 0 0 11px;
            }

            .lista-curiosidades li a:hover {
                border: none;
            }
        }

        .lista-curiosidades-wrap {
            display: none;
        }
    }