#home {
    margin         : 0;
    height         : $content-heights !important;
    position       : relative;
    background     : image-url('home/home-fundo.jpg') center top;
    background-size: cover;

    .videos {
        position    : absolute;
        z-index     : 3;
        top         : 0px;
        left        : 50%;
        width       : 1000px;
        height      : $content-heights;
        margin-left : -500px;
        overflow: visible;

        $largura-fechado: 170px;
        $largura-aberto: $content-width - $largura-fechado - $largura-fechado;

        .video {
            width   : 30%;
            height  : 100%;
            position: absolute;
            overflow: visible;
            top     : 0;

            .fundo {
                position  : absolute;
                top       : 50%;
                z-index   : 2;
                width     : 100%;
                margin-top: -200px;
                overflow  : visible;

                &.fechado { 
                    z-index: 5; 
                    height : 400px;
                }
                &.aberto { 
                    z-index: 2; 
                    img { 
                        z-index: 2;
                        @include opacity(0); 
                        &:first-child { @include opacity(1); }
                    }
                }

                img {
                    position: absolute;
                    top     : 50%; 
                }
            }

            .play {
                display   : block;
                width     : 100%;
                height    : 300px;
                position  : absolute;
                left      : 0;
                top       : 50%;
                margin-top: -150px;
                z-index   : 3;
                cursor    : pointer;
                background: transparent image-url('home/home-play-bg.png') center center no-repeat;

                .timer {
                    position   : absolute;
                    font-size  : 130px;
                    width      : 2.2em;
                    height     : 2.2em;
                    left       : 50%;
                    margin-left: -1em;
                    background : transparent image-url('home/home-play-ico.png') center center no-repeat;

                    .slice {
                        position: absolute;
                        width   : 1em;
                        height  : 1em;
                        clip    : rect(0px,1em,1em,0.5em);
                        top     : 0.61em;
                        left    : 0.56em;

                        .pie {
                            $borda-verde-escuro: #308434;
                            $borda-verde-claro: #80be00;

                            border   :{
                                width: 0.05em;
                                style: solid;
                                color: $borda-verde-claro;
                            };

                            position             : absolute;
                            width                : 0.9em;
                            height               : 0.9em;
                            clip                 : rect(0em,0.5em,1em,0em);
                            -moz-border-radius   : 0.5em;
                            -webkit-border-radius: 0.5em; 
                            border-radius        : 0.5em; 
                            @extend .pie-element;

                            &.fill {
                                display          : none;
                                -moz-transform   : rotate(180deg) !important;
                                -webkit-transform: rotate(180deg) !important;
                                -o-transform     : rotate(180deg) !important;
                                transform        : rotate(180deg) !important;
                            }
                        }
                        
                        &.gt50 {
                            clip:rect(auto, auto, auto, auto);
                            .pie.fill {
                                display: block;
                            }
                        }
                    }

                    &.fill {
                        .percent {
                            display: none;
                        }

                        .slice .pie {
                            border          : transparent;
                            background-color: #c0c0c0;
                            width           : 1em;
                            height          : 1em;
                        }
                    }
                }
            }

            .aba {
                $abah: 400px;

                position  : absolute;
                z-index   : 10;
                top       : 50%;
                left      : 0;
                height    : $abah;
                width     : 100%;
                margin-top: -200px;
                overflow  : hidden;
                cursor    : pointer;

                .seta-trans {
                    position: absolute;
                    bottom  : 40px;
                    width   : 28px;
                    height  : 58px;
                    z-index : 5;
                }

                .seta-opaque {
                    position: absolute;
                    bottom  : 40px;
                    width   : 28px;
                    height  : 58px;
                    z-index : 6;
                }

                p {
                    font-size     : 12px;
                    line-height   : 16px;
                    letter-spacing: 1px;
                    font-family   : $webfont;
                    text-transform: uppercase;
                    position      : absolute;
                    display       : block;
                    padding       : 32px 0 17px;
                    width         : 140px;
                    height        : 65px;
                    bottom        : 0px;
                }

                &.direita {
                    border-left: 1px solid $verde;

                    p {
                        padding-left : 35px;
                        padding-right: 20px;
                        left         : 0;
                        @include home-sprite(seta-direita-aba, false);
                    }

                    .seta-trans {
                        left: 0;
                        @include home-sprite(seta-direita-trans, false);
                    }

                    .seta-opaque {
                        left: 0;
                        @include home-sprite(seta-direita-opaque, false);
                    }
                }

                &.esquerda {
                    border-right: 1px solid $verde;

                    p {
                        padding-right: 13px;
                        padding-left : 20px;
                        right        : 0;
                        @include home-sprite(seta-esquerda-aba, false, 100%);
                    }

                    .seta-trans {
                        right: 0;
                        @include home-sprite(seta-esquerda-trans, false);
                    }

                    .seta-opaque {
                        right: 0;
                        @include home-sprite(seta-esquerda-opaque, false);
                    }
                }
            }

            .titulo-video {
                position: absolute;
                top     : 510px;
                left    : 50%;
                z-index : 6;
                display : none;
            }

            &.video-1 { 
                width  : $largura-fechado;
                left   : 0;
                z-index: 3;

                .fundo {
                    position  : absolute;
                    right     : 0;
                    margin-top: -235px;

                    &.fechado {
                        img { 
                            right     : 0; 
                            margin-top: -235px;
                        }
                    }

                    &.aberto { 
                        visibility: hidden; 
                        img { 
                            margin-left: -280px; 
                            margin-top : -150px;
                        }
                    }
                }

                .play { 
                    visibility: hidden; 

                    &.timer {
                        left       : 25%;
                        margin-left: 0;
                    }
                }

                .aba {
                    p {
                        width: 145px;
                        padding-left: 25px;
                        padding-right: 5px;
                    }
                }
                
                .titulo-video { margin-left: -205px; }
            }
            &.video-2 {
                width  : 100%;
                left   : 0;
                z-index: 2;

                .fundo {
                    position: absolute;

                    &.fechado {
                        visibility: hidden;

                        img {
                            left      : auto;
                            right     : auto;
                            margin-top: -190px;
                        }

                        &.esquerda { 
                            img{ right: 0; }
                        }

                        &.direita { 
                            img{ left: 0; }
                        }
                    }

                    &.aberto {
                        width  : 100%;
                        height : 100%;
                        left   : 0;
                        top    : 120px;
                        z-index: 2;

                        img {
                            position   : absolute;
                            top        : 50%;
                            left       : 50%;
                            margin-left: -470px;
                            margin-top : -310px;
                            
                        }
                    }
                }

                .aba { 
                    visibility: hidden; 

                    p { width: 140px; }

                    &.direita p{
                        padding-left : 10px;
                        padding-right: 20px;
                        text-align   : right;
                    }

                    &.esquerda p{
                        padding-left : 25px;
                        padding-right: 10px;
                        text-align   : left;
                    }
                }

                .titulo-video { margin-left: -187px; }
            }
            &.video-3 {
                width: $largura-fechado;
                left: 1000 - $largura-fechado;
                z-index: 3;

                .fundo {
                    position: absolute;
                    left: 0;

                    &.fechado { 
                        img { 
                            margin-top: -221px;
                        }
                    }

                    &.aberto { 
                        visibility: hidden;
                        margin-top: -350px;
                        img {
                            margin-left: -200px;
                            margin-top: -50px;
                        }
                    }
                }

                .play { visibility: hidden; }
                .aba {
                    p {
                        padding-left: 5px;
                        padding-right: 20px;
                        width: 145px;
                        text-align: right;
                        letter-spacing: 1px;
                    }
                }

                .titulo-video { margin-left: -167px; }
            }
        }

        .subtitulo {
            position      : absolute;
            bottom        : 8px;
            left          : 0;
            width         : 100%;
            margin        : 0;
            padding       : 0;
            text-align    : center;
            text-transform: uppercase;
            color         : $amarelo;
            font-size     : 14px;
            font-family   : $webfont;
        }
    }

    .outros-conteudos {
        position  : relative;
        overflow  : visible;
        margin-top: 610px;
        z-index   : 10;
    }
}