// ==|== media queries ======================================================
// PLACEHOLDER Media Queries for Responsive Design.
// These override the primary ('mobile first') styles
// Modify as content requires.
// ========================================================================== */

@media only screen and (min-width: 480px) {
    body { overflow-x: auto; }
}

@media only screen and (min-width: 768px) {
    body { overflow-x: auto; }
}

@media only screen and (min-width: 1000px) {
    body { overflow-x: hidden; }
}

// ==|== print styles =======================================================
// Print styles.
// Inlined to avoid required HTTP connection: h5bp.com/r
// ========================================================================== */

@media print {
  @include h5bp-media-print;
  
  /* Style adjustments for print go here */
}