// Geral
* {
    margin: 0;
    padding: 0;
}

html{
    @include sans-serif();
    background-color: black;
    color: $font-color;
}

html, body { height: 100%; }
body { background-size: cover; }
.footer, .push-footer { height: $footer-height; }
// Main - End CSS Sticky Footer

a {
    color: $font-color;
    text-decoration: none;
}

.hold {
    width   : $content-width;
    margin  : 0 auto;
    overflow: hidden;
}

#content {
    width     : 100%;
    min-height: $content-heights;
    background: $preto;

    .area {
        position     : absolute;
        top          : 0;
        z-index      : 1;
        width        : 100%;
        height       : 100%;
        // min-height: $content-heights;
        display      : none;
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    max-height: $content-heights;
    background: rgba(0,0,0,0.6) image-url('pattern.png');

    .spinner-container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 60px;
        margin-top: -30px;
        margin-left: -30px;
        background: #000000;
        @include border-radius(5px);
        @include single-box-shadow(rgba(255,255,255,0.4), 0, 0, 20px);
    }
}

.header {
    @extend .border-box;
    position : absolute;
    z-index  : 20;
    top      : 40px;
    left     : 0;
    width    : 100%;
    min-width: 1000px;
    height   : 100px;
    padding  : 0 20px;
    display  : none;

    .logo {
        @include inline-block;
        width          : 152px;
        height         : 80px;
        float          : left;
        color          : $branco;
        text-align     : center;
        text-decoration: none;
        text-transform : uppercase;
        overflow       : hidden;
        position       : relative;

        img, span {
            position: absolute;
            left    : 0;
        }

        span {
            font-family   : $webfont;
            font-size     : 20px;
            letter-spacing: 1px;
            width         : 100%;
            top           : 50px;
        }
    }

    .titulo {
        $tit-size: 400px;

        width         : $tit-size;
        height        : 90px;
        position      : absolute;
        top           : 0;
        left          : 50%;
        margin-left   : -200px;
        margin-top    : 0;
        // padding-bottom: 8px;
        font-size     : 14px;
        font-weight   : normal;
        text-align    : center;
        text-transform: uppercase;
        @include inline-block;
        @include geral-sprite('header-seta', false, 192px, 73px);

        strong {
            @include inline-block;
            overflow      : hidden;
            width         : $tit-size;
            height        : 40px;
            padding       : 5px 0;
            margin-top    : 5px;
            font-size     : 32px;
            font-weight   : bold;
            text-transform: uppercase;
            border        : {
                width     : 1px 0;
                style     : solid;
                color     : $branco;
            };

            span {
                display: block;
                width  : $tit-size;
                line-height: 36px;
            }

        }
    }

    .extras {
        float     : right;
        width     : 180px;
        font-size : 11px;
        margin-top: -20px;

        .seta-link {
            min-height: 15px;
        }

        .site-clear {
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 4px;
            @include geral-sprite(seta-links, false, 100%, 4px);
        }

        .compartilhe {
            margin-bottom: 5px;
            border       : {
                width    : 1px 0;
                style    : solid;
                color    : $branco;
            };

            p {
                margin: 5px 0;
                a {
                    vertical-align: middle;

                    &.ico-facebook-full,
                    &.ico-twitter-full {
                        @include hide-text;
                        margin-top: 5px;
                    }

                    &.ico-twitter-full {
                        margin-right: 17px;
                    }
                }
            }
        }

        .wikiclear {
            span {
                font-size: 22px;
                text-transform: uppercase;
                @include geral-sprite(seta-links, false, 100%, 7px);
            }
        }
    }

    &.interna {
        @include opacity(0.5);
        // .logo { display: none; }
        .titulo { display: none; }
        .extras {
            width: 135px;
            .wikiclear { display: none; }
            .site-clear {
                font-size: 13px;
                @include geral-sprite(seta-links, false, 100%);
            }
        }
    }
}

.layer-produtos {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    min-height: $content-heights;
    z-index   : 10;
    background: rgba(0,0,0,0.5);
    display   : none;
}

.produtos,
.tooltip {
    width     : 443px;
    height    : 274px;
    position  : relative;
    overflow  : visible;
    float     : left;
    background: image-url('produtos/produtos-bg-2.png') no-repeat -60px -25px;
    top: -20px;
    left: -20px;

    .container-produtos {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 390px;
        height: 100%;
        z-index: 15;
        /*background: transparent image-url('produtos/produtos-bg-2.png') no-repeat  -50px -20px;*/
    }

    img.produto {
        position: absolute;
        top     : 58px;
        z-index : 16;

        &.cond-branco { left : 77px; }
        &.xampu-branco { left: 126px; }
        &.xampu-bege { left  : 178px; }
        &.cond-bege { left   : 230px; }
    }

    a.link-conheca {
        position: absolute;
        top     : 70px;
        z-index : 18;
        @include hide-text;
        @include ico-sprite(mais, true);
        &.branco { left: 65px; }
        &.bege { right : 95px; }
    }

    p.txt-verde {
        position : absolute;
        bottom   : 41px;
        left     : 121px;
        margin   : 0;
        z-index  : 20;
        font-size: 12px;
    }

    .folha {
        position: absolute;

        &.folha-frente {
            z-index: 14;
            top: 80px;
            right: 50px;
        }

        &.folha-tras {
            z-index: 13;
            top: 40px;
            right: 76px;
        }
    }

    .fechar {
        position: absolute;
        top     : 94px;
        right   : 10px;
        z-index : 14;
        @include hide-text;
        @include ico-sprite('fechar', true);
    }

    .conteudo {
        width     : 250px;
        margin    : 130px 0 0 45px;
        text-align: center;

        h3 {
            font-size     : 16px;
            font-weight   : normal;
            text-transform: uppercase;
            @include text-shadow(rgba($preto, 0.2) 2px 2px 0);

            sup { font-size: 10px; }
        }

        p {
            font-size: 12px;
            width    : 80%;
            margin   : 0 auto;
        }
    }

    .conteudo-produtos {
        display   : none;
        position  : absolute;
        z-index   : 14;
        width     : 374px;
        height    : 351px;
        top       : -215px;
        background: transparent image-url('produtos/produtos-aberto-bg.png') no-repeat bottom left;


        &.cuidado-total { left : 34px; }
        &.pos-alisamento { left: 238px; }
    }

    &.aberto {
        .link-conheca {
            z-index: 14;
        }
    }
}

.curiosidades {
    float     : right;
    margin-top: 120px;

    p {
        margin        : 5px 0 10px;
        text-transform: uppercase;

        .thumb-video {
            @include inline-block;
            position    : relative;
            width       : 73px;
            height      : 73px;
            margin-right: 5px;
            overflow: visible;

            img {
                position: absolute;
                top     : 0;
                left    : 0;
                z-index: 3;
                border  : 3px solid $preto;
            }

            span {
                position: absolute;
                z-index: 4;
                display: block;
                width  : 100%;
                height : 100%;
                @include hide-text;
                @include geral-sprite(video-play-pqno, false, 15px, 13px);
            }
        }

        a.seta-link {
            font-size: 12px;
        }
    }
}


.footer {
    @extend .border-box;
    width      : 100%;
    height     : $footer-height;
    background : #000000;
    font-size  : 11px;
    color      : #ffffff;
    // border-top: 1px solid $verde;

    a.logo {
        $margem: 64 + 700 + 46;
        float: left;
        margin: 25px 10px 0 (1000px-$margem)/2;
    }

    a.logo-unilever {
        float: left;
        margin: 17px 0 0 20px ;
    }

    nav {
        margin: 25px 0 0 0;
        float : left;

        ul {
            float  : left;
            padding: 0;
            margin : 0;

            li {
                float       : left;
                padding     : 0 0 0 13px;
                margin-right: 10px;
                @include geral-sprite(footer-item, false, 0, 3px);

                a {
                    color          : #ffffff;
                    text-decoration: none;
                    font-size      : 11px;
                }
            }
        }
    }
}