.poll {
    display   : none;
    position  : absolute;
    left      : 0;
    top       : 0;
    width     : 100%;
    height    : 100%;
    z-index   : 999 !important;
    overflow  : visible;
    background: rgba(black,0.7);
    // background: rgba(black,0.7) image-url("interacao/poll_bg_externo.png") no-repeat center center;

    .main {
        position  : relative;
        left      : 50%;
        top       : 50%;
        width     : 772px;
        height    : 459px;
        overflow  : hidden;
        background: image-url("interacao/poll_bg.jpg") no-repeat center top;
        margin    : -230px 0 0 -386px;
        border    : 1px solid #80BE01;

        a.geral-fechar {
            text-indent: -9999px;
            margin     : 0;
            position   : absolute;
            right      : -70px;
            top        : -70px;
            z-index    : 1000;
        }

        h2, h3 {
            width     : 694px;
            display   : block;
            font      : normal 22px "Droid Sans";
            color     : #818080;
            margin    : 25px auto 0;
            padding   : 16px 0;
            text-align: center;
            overflow  : hidden;
            background: image-url("interacao/poll_tit_bg.jpg") no-repeat center bottom;
            text-transform: uppercase;
        }

        h3 {
            background  : none;
            margin      : 30px auto 0;
            padding     : 0;
        }

        form {
            text-align  : center;

            ul.options {
                width     : 694px;
                height    : 265px;
                padding   : 0;
                margin    : 0 auto;
                overflow  : hidden;

                li {
                    width       : 292px;
                    list-style  : none;
                    padding     : 0;
                    float       : left;
                    margin      : 20px 0 0 55px;

                    label {
                        font            : normal 18px "Droid Sans";
                        color           : #fff;
                        padding-left    : 5px;
                        text-transform  : uppercase;
                    }
                }
            }

            input[type=image] {
                width   : 158px;
                margin  : 0 auto;
            }
        }
    }

    &.interacao-video {
        .main {
            .jp-player {
                margin: 50px 0 0 67px;
            }

            &.video-wikiclear {
                position: relative;

                .botao-wikiclear {
                    @include hide-text;

                    position  : absolute;
                    display   : block;
                    z-index   : 3;
                    left      : 80px;
                    top       : 160px;
                    width     : 140px;
                    height    : 140px;
                    background: image-url('interacao/botao-wikiclear.png') no-repeat center center;
                }
            }
        }
    }

    &.quiz {
        .main {
            height      : 424px;
            padding-top : 35px;

            &.perguntas {
                form {
                    height      : 200px;
                    margin-top  : 35px;

                    fieldset {
                        border: 0;
                        display: none;

                        label {
                            font            : bold 18px "Droid Sans";
                            color           : #fff;
                            padding-left    : 5px;
                            text-transform  : uppercase;
                        }

                        ul.labels {
                            width   : 438px;
                            margin  : 6px auto 0;
                            overflow: hidden;
                            padding : 0;

                            li {
                                width       : 50%;
                                float       : left;
                                list-style  : none;

                                a {
                                    font    : normal 12px Verdana, Arial, Tahoma;
                                    color   : #797878;

                                    &.left { float: left; }
                                    &.right { float: right; }
                                }

                                &.active a { color: #7fbd01; }
                            }
                        }

                        ul.labels.four-columns li {
                            width: 25%;

                            .text-left { padding-left: 10px; }
                            .text-right { padding-right: 10px; }
                        }
                    }
                }
                ul.pagination {
                    float     : right;
                    margin    : 0 25px 0 0;
                    list-style: none;

                    li{
                        float   : left;

                        a {
                            width               : 31px;
                            height              : 32px;
                            display             : block;
                            text-indent         : -9999px;
                            background-image    : image-url("interacao/pagination_ico.png");
                            background-repeat   : no-repeat;
                            background-position : left top;
                        }
                        a.active { background-position: right top; }
                    }
                }

                .bt-seguinte {
                    @include hide-text;
                    display    : block;
                    width      : 158px;
                    height     : 41px;
                    background : image-url('interacao/button_next.png') no-repeat left top;

                    position   : absolute;
                    bottom     : 25px;
                    left       : 50%;
                    margin-left: -79px;
                }
            }

            &.infografico {
                height     : 460px;
                padding-top: 0;
                position   : relative;
                display    : none;

                .steps {
                    position: absolute;
                    top     : 10px;
                    left    : 0;
                    width   : 754px; 
                    height  : 439px; 
                    display : none;
                    overflow: hidden;

                    img {
                        position      : absolute; 

                        &.gray {
                            -webkit-filter: grayscale(1);
                        }
                        
                    }

                    div {
                        position    : absolute;
                        background  : {
                            position: left top;
                            repeat  : no-repeat;
                            color   : transparent;
                        };
                    }
                }

                @mixin step-div($step, $image, $bgposition: left top, $extras: '') {
                    div.image-#{$image}#{$extras} {
                        $bg: 'infografico/step#{$step}/image-#{$image}.png';
                        width              : image-width($bg);
                        height             : image-height($bg);
                        background-image   : image-url($bg);
                        background-position: $bgposition;
                    }
                }

                #step1 {
                    @include step-div(1, 1, bottom right);
                    @include step-div(1, 4);

                    .image-1 { left:25px;    top:10px;   z-index:1; }
                    .image-2 { left:31px;    top:179px;  z-index:2; }
                    .image-3 { left:168px;   top:299px;  z-index:3; }
                    .image-4 { left:10px;    top:284px;  z-index:4; }
                }

                #step2 {
                    @include step-div(2, 3);
                    @include step-div(2, 4);
                    @include step-div(2, 8, bottom right);

                    .image-1 { top   : 19px;    left: 32px; }
                    .image-2 { top   : 0;       left: 630px; }
                    .image-2-2 { top : 30px;    left: -10px; }
                    .image-3 { top   : 54px;    left: -4px; }
                    .image-4 { top   : 375px;   left: 574px; }
                    .image-5 { top   : 208px;   left: 87px; }
                    .image-6 { top   : 279px;   left: 1px; }
                    .image-7 { top   : 87px;    left: 51px; }
                    .image-8 { top   : 299px;   left: 347px; }
                    .image-10 { top  : 82px;    left: 267px; }
                    .image-11 { top  : 91px;    left: 418px; }
                    .image-12 { top  : 85px;    left: 623px; }
                    .image-13 { top  : 248px;   left: 593px; }
                    .image-14 { top  : 102px;   left: 178px; }
                    .image-15 { top  : 143px;   left: 204px; }
                    .image-15-2 { top: 143px;   left: 577px; }
                    .image-16 { top  : 143px;   left: 153px; }
                    .image-17 { top  : 102px;   left: 537px; }
                    .image-18 { top  : 143px;   left: 549px; }
                    .image-19 { top  : 262px;   left: 193px; }
                    .image-20 { top  : 254px;   left: 371px; }

                }
                #step3 {
                    @include step-div(3, 9);
                    @include step-div(3, 10, top right);
                    @include step-div(3, 13, bottom right);

                    .image-1 { top         : -19px; left: -8px; }
                    .image-2.cronico { top : 17px;  left: 25px; }
                    .image-3.cronico { top : 84px;  left: 90px; }
                    .image-2.vaivolta { top: -5px;  left: 22px; }
                    .image-3.vaivolta { top: 84px;  left: 90px; }
                    .image-4 { top         : 154px; left: -2px; }
                    .image-5 { top         : 123px; left: 150px; }
                    .image-6 { top         : 146px; left: 351px; }
                    .image-7 { top         : -16px; left: 662px; }
                    .image-8 { top         : 95px;  left: 595px; }
                    .image-9 { top         : 149px; left: 299px; }
                    .image-10 { top        : 227px; left: 651px; }
                    .image-11 { top        : 285px; left: 535px; }
                    .image-12 { top        : 345px; left: 40px; }
                    .image-13 { top        : 357px; left: -12px; }
                }
                #step4{
                    @mixin step4-div($image, $bgposition: left top, $sel: '') {
                        div.image-#{$image}.#{$sel} {
                            $bg: 'infografico/step4/#{$sel}/image-#{$image}.png';
                            width              : image-width($bg);
                            height             : image-height($bg);
                            background-image   : image-url($bg);
                            background-position: $bgposition;
                        }
                    }

                    @include step4-div(3, $sel: 'semcaspa');
                    @include step4-div(5, $sel: 'semcaspa');
                    @include step4-div(8, $sel: 'semcaspa');

                    .semcaspa {
                        &.image-1 { top : 21px;     left: 3px; }
                        &.image-2 { top : 87px;     left: 29px; }
                        &.image-3 { top : -150px;   left: 347px; }
                        &.image-4 { top : -74px;    left: -576px; }
                        &.image-5 { top : 111px;    left: -3px; }
                        &.image-6 { top : 165px;    left: 45px; }
                        &.image-7 { top : 251px;    left: 80px; }
                        &.image-8 { top : 134px;    left: 498px; }
                        &.image-9 { top : 73px;     left: 606px; }
                        &.image-10 { top: 238px;    left: 534px; }
                    }

                    @include step4-div(8, top left, 'hidratados');
                    @include step4-div(9, top left, 'hidratados');
                    @include step4-div(10, top left, 'hidratados');
                    @include step4-div(11, bottom left, 'hidratados');
                    @include step4-div(12, bottom right, 'hidratados');
                    @include step4-div(13, top left, 'hidratados');

                    .hidratados {
                        &.image-1 { top: 32px;      left: 23px; }
                        &.image-2 { top: 95px;      left: 47px; }
                        &.image-3 { top: 155px;     left: 43px; }
                        &.image-4 { top: 233px;     left: 165px; }
                        &.image-5 { top: 363px;     left: 63px; }
                        &.image-6 { top: 310px;     left: 421px; }
                        &.image-7 { top: 48px;      left: 528px; }
                        &.image-8 { top: -150px;    left: 347px; }
                        &.image-9 { top: -73px;     left: 575px; }
                        &.image-10 { top: 154px;    left: 439px; }
                        &.image-11 { top: 330px;    left: 566px; }
                        &.image-12 { top: 372px;    left: -6px; }
                        &.image-13 { top: 118px;    left: -4px; }
                    }
                }

                #step5 {
                    .image-1 { top: 11px; left: 64px; }
                    .image-2 { top: 69px; left: 63px; }
                    .image-3 { top: 113px; left: 103px; }
                    .image-4 { top: 150px; left: 21px; }
                    .image-5 { top: -45px; left: 641px; }
                    .image-6 { top: 111px; left: -87px; }
                    .image-7 { top: 167px; left: 309px; }

                    @include step-div(5, 5);
                    @include step-div(5, 7);

                    .buttons {
                        position: absolute;
                        right   : 0;
                        bottom  : 0;

                        li {
                            float       :left;
                            list-style  :none;
                            margin-right:30px;
                            padding     :0;

                            a {
                                display         :block;
                                font-size       :12px;
                                text-transform  :uppercase;
                                padding-right   :15px;
                                background      :image-url("infografico/step5/infographic_step-5_bullet.png") no-repeat right 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
