// Geral
$geral-spacing: 80px;
$geral-sprites-dimensions: true;
$geral-seta-links-position: 100%;
@import "sprites/geral/*.png";
@include all-geral-sprites(true);

// Ico
$ico-spacing: 80px;
$ico-sprites-dimensions: true;
@import "sprites/ico/*.png";
@include all-ico-sprites(true);

// Home
$home-spacing: 80px;
$home-sprites-dimensions: true;
$home-seta-esquerda-aba-position: 100%;
@import "sprites/home/*.png";
@include all-home-sprites(true);

// Video
$video-layout: smart;
$video-sprites-dimensions: true;
@import "sprites/video/*.png";
@include all-video-sprites(true);

// Helpers
%complemento{
    @include inline-block;
    @include ie7-restore-right-whitespace;
    padding: 0;
}
[class^="geral-"],
[class*=" geral-"],
[class^="ico-"],
[class*=" ico-"],
[class^="video-"],
[class*=" video-"],
[class^="home-"],
[class*=" home-"]{
    @extend %complemento;
}
