.wrapper{
    width   : 100%;
    height  : $content-heights;
    overflow: hidden;
    position: relative;
}

.viewport{
    position: absolute;
    top     : 0;
    left    : 0;
    overflow: hidden;
    z-index : 1;

    .videop { width: 100%; height: 100%; }
}

.controls {
    $width  : video-sprite-width('seek');
    $height : video-sprite-height('seek');

    position: absolute;
    top     : $content-heights - $height - 55px;
    z-index : 109;
    width   : 100%;

    .container-controls {
        display     : block;
        margin-left : auto;
        margin-right: auto;
        width       : 900px;
        height      : 25px;
        position    : relative;

        .timeline {
            $borderSize     : 1px;
            height          : $height;
            vertical-align  : middle;
            background-color: rgba(white, .2);
            cursor          : pointer;
            margin          : 0 5px;
            z-index         : 3;
            text-align      : left;
            display         : block;
            position        : relative;
            @include inline-block;

            .buffer-bar,
            .playhead-bar {
                position         : absolute;
                top              : 0;
                left             : 0;
                background-repeat: repeat;
                display          : block !important;
                height           : $height;
            }

            .buffer-bar {
                background-color: $verde;
                background-color: rgba($verde, 0.3);
                border          : 0;
            }
        }

        .video-play,
        .video-pause,
        .video-hd-on,
        .video-hd-off {
            vertical-align: middle;
            z-index       : 3;
        }

        .timers {
            margin-right: 5px;
            text-align  : right;
            font-size   : 11px;
            @include sans-serif('Verdana');
        }
    }

    .bt-interacao {
        $botao-size: 210px;

        width      : $botao-size;
        height     : $botao-size;
        overflow   : visible;
        position   : absolute;
        top        : ($botao-size + 60px) * -1;
        left       : 120px; //vai ser relativo por item
        padding    : 0px;
        z-index    : 4;
        visibility : hidden;
        @include border-radius($botao-size / 2);
        @include single-box-shadow( #344e01, 0, 0, 30px, 5px );
        @include opacity(0);

        .titulo {
            position      : absolute;
            top           : 100px;
            left          : $botao-size + 10;
            width         : 300px;
            margin        : 0;
            font-family   : $webfont;
            font-weight   : normal;
            font-size     : 16px;
            color         : #ffffff;
            text-transform: uppercase;
        }

        .efeito {
            position    : absolute;
            display     : block;
            top         : 0;
            left        : 0;
            z-index     : 3;
            width       : 100%;
            height      : 100%;
            background  : {
                repeat  : no-repeat;
                position: center center;
                color   : #141e00;
                image   : image-url('interacao/botao-efeito.png');
            };

            @include border-radius($botao-size / 2);
        }

        .imagem {
            $imagem-size: 195px;

            position    : absolute;
            top         : 7px;
            left        : 7px;
            z-index     : 4;
            display     : block;
            width       : $imagem-size;
            height      : $imagem-size;
            background  : {
                repeat  : no-repeat;
                position: center center;
                color   : #000000;
                size    : cover;
            };

            @include border-radius($imagem-size / 2);
        }

        .icone {
            $icone-size: 165px;
            $border-size: 3px;

            width       : $icone-size;
            height      : $icone-size;
            position    : absolute;
            top         : 50%;
            left        : 50%;
            z-index     : 5;
            margin-top  : -( ($icone-size / 2) + $border-size );
            margin-left : -( ($icone-size / 2) + $border-size );
            border      : $border-size solid #5e5e5e;
            background  : {
                repeat  : no-repeat;
                position: center center;
                color   : transparent;
            };
            @include border-radius( ($icone-size + $border-size) / 2);
        }

        .cue-point {
            position: absolute;
            bottom  : -60px;
            left    : $botao-size / 2;
        }

        &.saido {
            .icone { border: none; }
            .cue-point { display: none; }
            .titulo { display: none; }
        }

        &.cuidados-diarios {
            .imagem { background-image: image-url('galeria/cuidados-diarios.jpg'); }
            .icone { background-image: image-url('interacao/play.png'); }
        }

        &.conheca-o-novo-clear-fusao-herbal {
            .imagem { background-image: image-url('galeria/clear-fusao-herbal.jpg'); }
            .icone { background-image: image-url('interacao/play.png'); }
        }

        &.como-funciona-clear-fusao-herbal-pos-quimica {
            .imagem { background-image: image-url('galeria/pos-quimica.jpg'); }
            .icone { background-image: image-url('interacao/play.png'); }
        }

        &.quiz {
            .imagem { background-image: image-url('interacao/botao-quiz.jpg'); }
            .icone { background: none; }
        }

        &.wikiclear {
            .imagem { background-image: image-url('interacao/botao-wikiclear.jpg'); }
            .icone { background: none; }
        }
    }
}

.menu-video{
    position: absolute;
    top: 130px;
    left: 60px;
    z-index: 90;
    ul{
        margin: 0;
        padding: 0;
        li{
            margin-bottom: 25px;
        }
    }
}

// Widths
.timeline,
.buffer-bar,
.playhead-bar {
    width: 730px;
}

.interacao-video {
    .container-player {
        margin: 40px auto 0;
        width: 640px;
        height: 360px;

        .viewport { 
            position: relative;
            width: 100%;
            height: 100%;

            div { width: 100%; height: 100%; }
        }
    }
    .controls {
        top: auto;
        bottom: 0px;
        height: 36px;
        left: 0px;

        .container-controls { 
            width: 640px;

            .timeline,
            .buffer-bar,
            .playhead-bar {
                width: 500px;
            }
        }
    }
}

#video {
    max-height: $content-heights;

    .controls {
        .container-controls {
            text-align: center;
            padding   : 10px;
            background: white;
            background: rgba(black, 0.5);
            @include border-radius(5px);

            .jp-duration {
                color: #999999;
            }
        }
    }

    .link-seta {
        $bt-altura  : 240px;
        $seta-altura: 70px;
        $pd-top     : $bt-altura / 2;

        display       : block;
        overflow      : hidden;
        position      : absolute;
        top           : 60%;
        z-index       : 105;
        height        : $bt-altura - $pd-top;
        width         : 200px;
        margin-top    : -120px;
        font-size     : 14px;
        font-family   : $webfont;
        color         : #ffffff;
        text-transform: uppercase;
        padding-top   : $pd-top;
        @include opacity(0.8);

        &.link-esquerda {
            left        : 0;
            padding-left: 45px;
            border-left : 1px solid $verde;
            background  : transparent image-url('sprites/video/link-seta-esquerda.png') no-repeat left ($pd-top - 25px) ;
        }

        &.link-direita {
            right        : 0;
            text-align   : right;
            padding-right: 45px;
            border-right : 1px solid $verde;
            background   : transparent image-url('sprites/video/link-seta-direita.png') no-repeat right ($pd-top - 25px) ;
        }
    }

    .tooltip {
        $bg       : 'produtos/tooltip.png';

        background: image-url($bg);
        height    : image-height($bg);
        width     : image-height($bg);
        position  : relative;
        z-index   : 2;

        .conteudo {
            width : 121px;
            margin: 43px 0 0 30px;
        }

        .fechar {
            top  : 9px;
            right: 10px;
        }

        &.video-hd {
            position: absolute;
            top     : -185px;
            left    : 755px;
            z-index : 1;
        }
    }

    .final-opcoes {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: $content-heights;
        top: 0;
        left: 0;
        z-index: 105;
        background: black;
        background: rgba(0,0,0,0.75);

        .main {
            text-align: center;
            position: relative;
            top: 50%;
            height: 250px;
            margin-top: -125px;

            .thumbnail {
                @include inline-block;
                position: relative;
                margin: 0 7px;
                top: 0;
                vertical-align: top;

                h4 {
                    font-weight: normal;
                    font-size: 14px;
                    font-family: $webfont;
                    color: #a0a0a0;
                    margin: 10px 0 0 0;
                    text-transform: uppercase;
                    max-width: 300px;
                }

                .borda-verde {
                    $altura-borda: 4px;
                    $largura-borda: 214px;

                    position: absolute;
                    display: block;
                    top: 180px - $altura-borda;
                    left: 50%;
                    width: $largura-borda;
                    height: $altura-borda;
                    margin-left: $largura-borda / -2;
                    background: #73b206;
                }

                &:hover {
                    h4 { color: #ffffff; }
                }
            }
        }
    }
}

